apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: java-quarkus-170173685
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: java-quarkus-170173685
    app.kubernetes.io/part-of: test-app-170173685
  name: java-quarkus-170173685
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: java-quarkus-170173685
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: java-quarkus-170173685
    spec:
      containers:
      - image: quay.io/hacdev/bphv0iol-tenant/test-app-170173685/java-quarkus-170173685@sha256:53177befb4ce658fc411fdef43402cd364f140784025b75f54ccd25dc85aa3ee
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
