apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: java-quarkus-170173685
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/bphv0iol-tenant/test-app-170173685/java-quarkus-170173685@sha256:53177befb4ce658fc411fdef43402cd364f140784025b75f54ccd25dc85aa3ee
        name: my-java-quarkus
        resources: {}
status: {}
